<header>
    <section id="navagation">
        <div class="nav">
            <div class="logo">
                <img src="/img/logo.png" alt="Logo" />
            </div>
            <div class="title">
                <h1>DAILY</h1>
                <h1>HEALTH</h1>
            </div>
        </div>
    </section>
</header>